@font-face {
    font-family: Chau;
    src: url("/TeserGit/public/fonts/ChauPhilomeneOne-Regular.ttf");
}

@font-face {
    font-family: Lato;
    src: url("/TeserGit/public/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Black;
    src: url("/TeserGit/public/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: Lato-Black-Italic;
    src: url("/TeserGit/public/fonts/Lato-BlackItalic.ttf");
}

@font-face {
    font-family: Lato-Italic;
    src: url("/TeserGit/public/fonts/Lato-Italic.ttf");
}


@font-face {
    font-family: Pacifico;
    src: url("/TeserGit/public/fonts/Pacifico-Regular.ttf");
}

@font-face {
    font-family: Forque;
    src: url("/TeserGit/public/fonts/Forque.ttf");
}

@font-face {
    font-family: Axettac;
    src: url("/TeserGit/public/fonts/Axettac_Demo.ttf");
}

body{
    overflow-x: hidden;
}

p {
    font-family: Lato;
}

h3, h4 {
    font-family: Lato;
    font-weight: 700;
}

.head-home {
    height: 110vh;
    width: 100vw;
    background: no-repeat fixed center;
}

.btn-teser{
    border-radius: 0;
    background-color: #eb005d;
    color: white;
    font-family: Forque;
    color: white;
    font-size: 26px;
    width : 192px ;
    height : 74px ;
    cursor: pointer;
}

.btn-teser-2{
    border-radius: 0;
    width: 244px;
    height: 71px;
    background-color: #eb005d;
    color: white;
    font-family: Forque;
    color: white;
    font-size: 26px;
    -webkit-box-shadow: 8px 8px 0px 2px rgb(140, 0, 55);
    -moz-box-shadow: 8px 8px 0px 2px rgba(140,0,55,1);
    box-shadow: 8px 8px 0px 2px rgba(140,0,55,1);
    cursor: pointer;
}

.btn-teser-3{
    border-radius: 0;
    width: 244px;
    height: 71px;
    background-color: #eb005d;
    color: white;
    font-family: Forque;
    color: white;
    font-size: 26px;
    -webkit-box-shadow: 8px 8px 0px 2px white;
    -moz-box-shadow: 8px 8px 0px 2px white;
    box-shadow: 8px 8px 0px 2px white;
    cursor: pointer;
}

.thirdheight{
    height: 33vh;
}

.about{
    margin-top: -10vh;
    width: 100vw;
}

.about-card{
    background-color: #ffffff;
    padding: 100px 75px;
    margin-left: -1em;
    width: 100vw;
}

.titles{
    background-color: #eb005d;
    border-radius: 26px;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: -37px;
    z-index: 1;
}

.titles h4{
    font-family: Forque;
    font-size : 20pt ;
    font-weight : 400 ;
}

.register-zone {
    width: 100vw;
    background-color : #222222 ;
    margin-top: -2em;
}

label {
    color: white;
    font-family: Lato;
    font-size : 20px ;
    font-weight : 800 ;
}

.form-control-teser {
     border-radius : 25px;
     padding: 10px;
    font-family: Lato;
 }

.form-control-teser:after {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    font-family: Lato;
}

.register-text {
    background-color: white;
    border-radius : 26px ;
    padding: 50px 50px 25px;
    height: 100%;
}

.register-title {
    background-color: #222222;
    border-radius: 26px;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: -37px;
}

.register-title h4{
    font-family: Forque;
    font-size : 35px ;
    font-weight : 400 ;
}

.sponsor-zone {
    background-color: #eb005d;
}

.btn-teser-4{
    background-color: #eb005d;
    border-radius : 26px ;
    color: white;
    font-size : 18pt ;
    font-weight : 400 ;
    font-family: Forque;
    padding: 15px 25px;
    cursor: pointer;
}

@keyframes Bounce {
    0% {bottom : 0px;}
    15%{bottom : 10px;}
    40% {bottom : 0px;}
    55% {bottom : 5px;}
    70% {bottom : 0px;}
    100% {bottom : 0px;}
}

.Bounce {
    position: relative;
    animation-name: Bounce;
    animation-duration: 2s;
    /*animation-delay: 10s;*/
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.teser-link {
    color: white;
    text-decoration: white;
    text-decoration-line: underline;
}

.teser-link:hover {
    color: silver;
    text-decoration: silver;
    text-decoration-line: underline;
}

.teser-link2 {
    color: white;
}

.teser-link2:hover {
    color: white;
    text-decoration: none;
}

.teser-link3 {
    color: #eb005d;
    text-decoration: #eb005d;
    text-decoration-line: underline;
}

.teser-link3:hover {
    color: #d1005d;
    text-decoration: none;
}

.login-card{
    border-radius: 25px;
    border: 2px solid white;
    padding: 60px 40px;
}

.left-compte{
    background-color: #eb005d;
}

.text-display{
    background-color: #d1005d;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
}

.text-display2{
    background-color: #d1005d;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.teser-card{
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 100px -16px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 100px -16px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 100px -16px rgba(0,0,0,0.28);
}

.spacer{
    height: 55vh;
}

.spacer2{
    height: 10vh;
}

.btn-teser-5{
    background: none;
    border-radius : 26px ;
    border: 3px solid white;
    color: white;
    font-size : 20pt ;
    font-weight : 400 ;
    font-family: Forque;
    padding: 5px 40px;
    cursor: pointer;
}

.label-teser{
    background: none;
    border-radius : 26px ;
    border: 3px solid #eb005d;
    color: #eb005d;
    font-size : 20pt ;
    font-weight : 400 ;
    font-family: Forque;
    padding: 5px 40px;
    cursor: pointer;
}

.form-checkmark-teser {
    position: absolute;
    height: 25px;
    width: 25px;
    background: none;
    cursor: pointer;
    border: 3px solid #eb005d;
    margin-left: 0.5em;
}

.form-check-label-teser{
    display: block;
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Lato;
    font-size: 16pt;
    color: black;
}

.form-check-label-teser input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.form-check-label-teser:hover input ~ .form-checkmark-teser {
    border: 3px solid rgba(140,0,55,1);
}

.form-check-label-teser input:checked ~ .form-checkmark-teser {
    background: none;
}

.form-checkmark-teser:after {
    content: "";
    position: absolute;
    display: none;
}

.form-check-label-teser input:checked ~ .form-checkmark-teser:after {
    display: block;
}

.form-check-label-teser .form-checkmark-teser:after {
    left: 0.35em;
    top: 0.2em;
    width: 5px;
    height: 10px;
    border: solid #eb005d;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}